@import'styles/colors';

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: $text;
  font-size: 3em;
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
}